<div class="container p-5">
  <h1 class="text-center mb-5">
    Users Details
  </h1>
<form #form="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" method="POST" required ngModel class="form-control" name="username" id="username" placeholder="Username">

  </div>


  <button type="submit" class="btn btn-primary mb-4" (click)=" getUserByUsername(form)">Submit</button>
</form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer">
        <td>{{userFound.id}}</td>
        <td>{{userFound.username}}</td>
        <td>{{userFound.password}}</td>
        <td>{{userFound.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
