<div class="body">
<div class="container p-5" *ngIf="usernameIsAdmin=='admin'">
  <h1 class="text-center margin-top">
    <i class="fas fa-user-cog mr-3"></i> <br>Users Management
  </h1>

  <!--FORM UPDATE USER -->
<form #form="ngForm">
  <div class="form-group">
    <label for="username"> <i class="fas fa-spell-check mr-1"></i> By Username</label>
    <input type="text" method="GET" required ngModel class="form-control" name="username" id="username" placeholder="Username">

    <button type="submit" class="btn btn-dark mb-4 mt-2" (click)=" getUserByUsername(form)">Search</button>

    <br>

    <label for="id"> <i class="far fa-id-card mr-1"></i> By Id</label>
    <input type="number" method="GET" required ngModel class="form-control" name="userId" id="userId" placeholder="User Id">

    <button type="submit" class="btn btn-dark mb-4 mt-2" (click)="getUserById(form)">Search</button>
  </div>

</form>
<h5 class="text-left mb-2">
  User Details
</h5>
<div id="no-more-tables">
  <table class="table test">
    <thead class="">
      <tr>
        <th scope="col" id="box-del">Actions</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngIf="visualizzaBottoniUsername==true">
      <tr class="pointer">
        <td class="col-md-auto"><button type="button" class="btn mr-2" (click)="deleteUserById(form)" (click)="reloadPage()">
          <span class="far fa-trash-alt" ></span>
        </button>
            <button type="submit" class="btn" (click)="goToUpdate()">
              <span class="fas fa-edit ml-4"></span>
            </button>
        </td>
        <td data-title="Id">{{userFound.id}}</td>
        <td data-title="Nome">{{userFound.name}}</td>
        <td data-title="Cognome">{{userFound.surname}}</td>
        <td data-title="Username">{{userFound.username}}</td>
        <td data-title="Password" style="word-wrap: break-word">{{userFound.password}}</td>
        <td data-title="Email" style="word-wrap: break-word">{{userFound.email}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="visualizzaBottoniId==true">
      <tr class="pointer">
        <td class="col-md-auto"><button type="button" class="btn mr-2" (click)="deleteUserById(form)" (click)="reloadPage()">
          <span class="far fa-trash-alt" ></span>
        </button>
            <button type="submit" class="btn" (click)="goToUpdate()">
              <span class="fas fa-edit ml-4"></span>
            </button>
        </td>
        <td data-title="Id">{{userFoundById.id}}</td>
        <td data-title="Nome">{{userFoundById.name}}</td>
        <td data-title="Cognome">{{userFoundById.surname}}</td>
        <td data-title="Username">{{userFoundById.username}}</td>
        <td data-title="Password" style="word-wrap: break-word">{{userFoundById.password}}</td>
        <td data-title="Email" style="word-wrap: break-word">{{userFoundById.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <div *ngIf="letsUpdate == true">
    <section class="mb-4 container-update">
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">

                  <h6 class="text-center">Update User</h6>

                  <form class="pt-1" #formUpdate="ngForm">
                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" method="PUT" required ngModel class="form-control form-control-lg" name="name" id="name" placeholder="{{userFoundById.name}}">

                    </div>
                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" method="PUT" required ngModel class="form-control form-control-lg" name="surname" id="surname" placeholder="{{userFoundById.surname}}">
                    </div>

                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" method="PUT" required ngModel class="form-control form-control-lg" name="email" id="email" placeholder="{{userFoundById.email}}">

                    </div>
                    <div class="form-group">
                      <label for="username"></label>
                      <input type="text" method="PUT" required ngModel class="form-control form-control-lg" name="username" id="username" placeholder="{{userFoundById.username}}">

                    </div>
                    <div class="form-group">
                      <label for="password"></label>
                      <input type="password" method="PUT" required ngModel class="form-control form-control-lg" name="password" id="password" placeholder="Password">
                      <div class="inputError ml-2"> <p *ngIf="!passwordOk" >Entered Password is not matching! Try Again</p></div>
                    </div>

                    <div class="form-group">
                      <label for="confirmPassword"></label>
                      <input type="password" method="PUT" required ngModel class="form-control form-control-lg" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
                      <span id='message'></span>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button type="button" name="submit" id="submit" (click)="updateUser(formUpdate,form)" class="btn btn-success btn-block btn-lg gradient-custom-4">Update User</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <h3 class=" mb-3 mt-5">
    Users List
  </h3>
<div id="no-more-tables">
    <table class="usersDetails test">
      <thead class="table-info">
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr class="pointer" *ngFor="let entry of users">
          <td data-title="Id"><i class="fas fa-user-alt mr-2"></i> {{ entry.id }}</td>
          <td data-title="Nome">{{entry.name}}</td>
          <td data-title="Cognome">{{entry.surname}}</td>
          <td data-title="Username">{{ entry.username }}</td>
          <td data-title="Password" style="word-wrap: break-word">{{ entry.password }}</td>
          <td data-title="Email"  style="word-wrap: break-word">{{ entry.email }}</td>
          <td data-title=""> <button type="submit" class="btn btn-default " (click)="delete(entry.id); exit()">
            <span class="far fa-trash-alt"></span>
           </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>


 <!-- SE ENTRA UN UTENTE NON AUTORIZZATO VISUALIZZA QUESTO-->
 <div class="p-5 back-home" *ngIf="usernameIsAdmin!='admin'" >

  <h1 class="no-permission font mt-5 footerGiu margin-top">
    <i class="fas fa-exclamation-triangle mr-3"></i>you don't have permissions!
  </h1>
  <a [routerLink]="['/moviesApi']">
  <p class="font back-home font-size-button-back-home">BACK TO HOME</p></a>


</div>
