.margin-top{
margin-top: 50px;
}
.container-update{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(235, 235, 235);
  border-radius:10px;
}
.inputError{
  font-size: 12px;
  color:rgb(244, 134, 17);
  font-family: "Poppins", sans-serif;
  background: none;
}
.font{
  font-family: "DK Lemon Yellow Sun";
  font-weight: bold;
}
.footerGiu{
  margin-bottom: 100px;
  margin-top: 400px;
  padding-top: 100px;
}
.back-home{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 150px;
}
a{
  color: black;
}

.container-update {
  background-color: black;
}

.far {
  font-size: 20px;
}

.form-group, .form-control, .table, .table-secondary, .table-info, .text-center, .container{
  font-family:monospace;
  font-weight: 50;
  background-color: black;
  color: white;
}

.text-center {
  font-family: monospace;
}

.btn {
  color:lawngreen;

}
.table-info, .usersDetails, .table{
  width: 1000px;
  border: 2px solid greenyellow;
  margin-left: 0;

}

.container {
  max-width: 70%;
  border:2px solid lawngreen;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.body {
  background-color: black;
}


.table-responsive {
  border: 1px solid red;
}
