

<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
  rel="stylesheet"
/>



<!--IMMAGINE PRINCIPALE-->
<body class="page-wrapper grid">
  <div class="container1">
    <!--IMMAGINE FILM -->
    <div class="boxImg">
      <img
        src="{{ imagePath }}"
        *ngIf="imagePath != null"
        class="shadowx frame img-fluid"
      />
    </div>




    <!-- TITOLO E DATI-->
    <div class="box1">
      <div class="title font" *ngIf="movieDetailsEntry != null">
        <h1>{{ movieDetailsEntry.title }}</h1>
      </div>

      <div class="elements font" *ngIf="movieDetailsEntry != null">
        <p><b>Release Date: </b> {{ movieDetailsEntry.release_date | date }}</p>
      </div>

      <div class="elements poppins" *ngIf="movieDetailsEntry != null">
        <!-- <b>Overview:</b>  -->
        <p>{{ movieDetailsEntry.overview }}</p>


      </div>
      <hr>
    </div>





       <!--  AGGIUNGI ALLA LISTA -->
    <form class="pt-2 " (ngSubmit)="onSeen(formOnSeen)"  id="form1" #formOnSeen="ngForm" >

      <div class="form-groupList list-box">

        <div class="col-sm-10">
            <select class="form-control bg-select" id="seen" required ngModel
                name="seen" >
                <option value="" disabled selected class="innerText">Add to list of ...</option>
                <option [value]="seen" *ngFor="let seen of seenOption" class="innerText">
                    {{seen}}
                </option>

            </select>

        </div>
        <button type="submit" class="btn btn-primary ml-1 buttons aligner-5" (click)="exit()">+</button>
    </div>

  </form>



    <!-- RATING FORM -->
    <div class="box2">
      <form class="" (ngSubmit)="onSubmitRating(form)" #form="ngForm">



<!-- MOVIE RATINGS-->
        <div class="container-rating">
          <div class="box-1a">
            <ngb-rating class="star-container" [max]="5" ngModel name="movie_rating" id="movie_rating"  required></ngb-rating>

          </div>
          <div class="box-2a">
            <button
              class="btn btn-primary  buttons" [disabled]="!form.valid"
              class="btn btn-success buttons">Submit Rating</button>
          </div>
        </div>


        <hr>

      </form>
    </div>

    <!--FINE RATINGS-->

    <!-- INIZIO COMMENTO UTENTE-->
    <div class="comment-wrapper">




          <form class="" (ngSubmit)="onSubmit(formDue)" #formDue="ngForm">

              <div class="form-group row">

                      <textarea  class="form-control style-text-area" id="body" required ngModel name="body" placeholder="comment movie">
                        </textarea>

              </div>

              <button type="submit" (click)="exit()" class="buttons btn-primary" required>Submit Comment</button>

          </form>

</div>
<!-- FINE COMMENTO UTENTE-->


<!-- INIZIO TUTTI COMMENTI -->
<div class="container p-2" >
  <h1 class=" mb-2">
    Movie Comments
  </h1>

  <table class="table">
    <!--<thead class="thead-dark">
      <tr>
        <th scope="col">Comment id</th>
        <th scope="col">User id</th>
        <th scope="col">Movie id</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>-->
    <tbody>
      <tr class="pointer" *ngFor="let entry of comments | commentsByMovieId : id">
        <!--<td>{{entry.id}}</td>
        <td>{{entry.userId}}</td><td>
        <td>{{entry.movieId}}</td>-->
        <td>{{entry.body}}</td>
      </tr>
    </tbody>
  </table>
</div>

    <app-loading-page *ngIf="!movieDetailsEntry"></app-loading-page>
  </div>
  <!-- FINE CONTAINER-->


</body>

