
<!--Noto font Link-->
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
  rel="stylesheet"
/>

<!-- CORPO -->
<body class="page-wrapper grid">
  <div class="container1">
    <!--IMMAGINE FILM -->
    <div class="boxImg">
      <img src="{{ imagePath }}" *ngIf="imagePath != null" class="shadowx frame img-fluid"/>
    </div>

<!-- TITOLO E DATI-->
    <div class="box1">
      <div class="title font" *ngIf="movieDetailsEntry != null">
        <h1>{{ movieDetailsEntry.title }}</h1>
      </div>
      <div class="elm-cntr">
      <div class="elements font" *ngIf="movieDetailsEntry != null">
        <p><b>Release Date: </b> {{ movieDetailsEntry.release_date | date }}</p>
      </div>
      <div class="elements font" *ngIf="movieDetailsEntry != null">
        <p><b>Runtime: </b> {{ movieDetailsEntry.runtime }} minutes</p>
      </div>
      <div class="elements font" *ngIf="movieDetailsEntry != null">
        <p><b>Vote: </b> {{ movieDetailsEntry.vote_average }} </p>
      </div>
    </div>
      <div class="elements poppins" *ngIf="movieDetailsEntry != null">
        <p>{{ movieDetailsEntry.overview }}</p>
      </div>
      <hr>
    </div>

<!-- AGGIUNGI A LISTE FILM DA VEDERE E VISTI -->
    <form class="pt-2 " (ngSubmit)="onSeen(formOnSeen)"  id="form1" #formOnSeen="ngForm" >
      <div class="form-groupList list-box">
        <div class="col-sm-10">
            <select class="form-control bg-select" id="seen" required ngModel
                name="seen" >
                <option value="" disabled selected class="innerText">Add to list of ...</option>
                <option [value]="seen" *ngFor="let seen of seenOption" class="innerText">
                    {{seen}}
                </option>
            </select>
        </div>
        <button style="font-size: 30px" type="submit" class="btn btn-default " (click)="exit()">
          <span class="fas fa-plus" aria-hidden="true"></span>
        </button>
      </div>

    </form>

<!-- RATING FORM -->
    <div class="box2">
      <form class="" (ngSubmit)="onSubmitRating(form)" #form="ngForm">
<!-- MOVIE RATINGS-->
        <div class="container-rating">
          <div class="box-1a">
            <ngb-rating class="star-container" [max]="5" ngModel name="movie_rating" id="movie_rating"  required></ngb-rating>

          </div>
          <div class="box-2a">
            <button
              class="btn btn-primary  buttons" [disabled]="!form.valid"
              class="btn btn-success buttons">Submit Rating</button>
          </div>
        </div>
        <hr>
      </form>
    </div>
    <!--FINE RATINGS-->
    <!-- INIZIO COMMENTO UTENTE-->
    <div class="comment-wrapper">
          <form class="" (ngSubmit)="onSubmit(formDue)" #formDue="ngForm">
              <div class="form-group row">
                      <textarea  class="form-control style-text-area" id="body" required ngModel name="body" placeholder="comment movie">
                        </textarea>
              </div>
              <button type="submit" (click)="exit()" class="btn buttons btn-primary btn-cmt ml-3" required>Submit Comment</button>
          </form>
          <br>
          <hr>
    </div>
<!-- FINE COMMENTO UTENTE-->

<!-- INIZIO TUTTI COMMENTI -->
  <h1 class=" mb-2">Movie Comments</h1>
  <div class="container-AllComments p-2" >
    <table class="table">
      <tbody>
        <tr class="pointer" *ngFor="let entry of comments | commentsByMovieId : id">
          <td class="body-user"><i class="fas fa-user-edit mr-2"></i>{{entry.userId}} </td>
          <td class="body-comments"> {{entry.body}}</td>
      </tr>
      </tbody>
    </table>
  </div>

    <app-loading-page *ngIf="!movieDetailsEntry"></app-loading-page>
  </div>
  <!-- FINE CONTAINER-->
</body>

