<!-- FONT PER DETAILS -->
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
  rel="stylesheet"
/>
<!--
<div class="box-back">
<button class="btn btn-primary mr-2 ml-4 buttons" [routerLink]="['/moviesApi']">Back</button>
  </div>
<!-- BUTTON BACK-->

<body class="page-wrapper grid">
  <!-- BUTTON BACK-->




  <div class="container1">
    <!--IMMAGINE FILM -->
    <div class="boxImg">
      <img
        src="{{ imagePath }}"
        *ngIf="imagePath != null"
        class="shadowx frame"
      />
    </div>

    <!-- TITOLO-->
    <div class="box1">
      <div class="title" *ngIf="movieDetailsEntry != null">
        <h1>{{ movieDetailsEntry.title }}</h1>
      </div>

      <div class="elements" *ngIf="movieDetailsEntry != null">
        <p><b>Release Date: </b> {{ movieDetailsEntry.release_date | date }}</p>
      </div>

      <div class="elements" *ngIf="movieDetailsEntry != null">
        <!-- <b>Overview:</b>  -->
        <p>{{ movieDetailsEntry.overview }}</p>
      </div>
    </div>

    <!-- RATING FORM -->
    <div class="box2">
      <form class="" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <label for="rated" class="aligner">Movie rating</label>
        <div class="">
          <select
            class="rating-field"
            id="movie_rating"
            required
            ngModel
            name="movie_rating"
          >
            <option [value]="rated" *ngFor="let rated of ratedOptions">
              {{ rated }}
            </option>
          </select>
        </div>
      </form>
      <div>
        <button
          class="btn btn-primary ml-1 buttons"
          [disabled]="!form.valid"
          class="btn btn-success buttons"
        >
          Submit Rating
        </button>
      </div>
    </div>

    <!-- COMMENT BUTTONS -->
    <div class="box3">
      <button
        class="btn btn-primary ml-1 buttons"
        (click)="goToMovieComments()"
      >
        Movie Comments
      </button>
      <button class="btn btn-primary ml-1 buttons" (click)="goToAddComment()">
        Make a Comment
      </button>
    </div>
    <app-loading-page *ngIf="!movieDetailsEntry"></app-loading-page>
  </div>
  <!-- FINE CONTAINER-->


</body>

<!--

  <div class="container" *ngIf="movieDetailsEntry != null">


  <h1 class="text-center mt-3">The NetFish</h1>

  <div class="mt-2 p-4">
    <ul class="list-group">
      <li class="list-group-item"><b>Id:</b> {{ movieDetailsEntry.id }}</li>

      <li class="list-group-item">
        <b>Title:</b> {{ movieDetailsEntry.title }}
      </li>

      <li class="list-group-item">
        <b>Release Data:</b> {{ movieDetailsEntry.release_date | date }}
      </li>

      <li class="list-group-item">
        <b>Overview:</b> {{ movieDetailsEntry.overview }}
      </li>

      <li class="list-group-item">
        <b>Original Language:</b> {{ movieDetailsEntry.original_language }}
      </li>
    </ul>
  </div>

  <button class="btn btn-primary mr-2 ml-4" [routerLink]="['/moviesApi']">
    Back
  </button>
</div>
<app-loading-page *ngIf="!movieDetailsEntry"></app-loading-page>

<!--
  <div class="form-group row">
    <label for="movie_rating" class="col-sm-2 col-form-label"
      >Movie Rating</label
    >
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="movie_rating_id"
        required
        number
        name="(movie_rating)"
      />
    </div>
  </div>
  <button (click)="postMovieRating()" class="btn btn-success">Submit</button> -->
