<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container p-5">
  <h1 class="text-center mb-2"></h1>
</div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br />
      <i class="fas fa-fish fa-5x"></i>
      <!--<i class="fa fa-user fa-5x" aria-hidden="true"></i>-->
    </div>
    <br />

    <!-- Login Form -->
    <form>
      <input type="text" id="username" required [(ngModel)]="usernameInput" class="fadeIn second" name="login" placeholder="Username"/>
      <input type="password" id="password" required [(ngModel)]="passwordInput" class="fadeIn third" name="login" placeholder="Password"/>

      <div class="alert-login" role="alert" *ngIf="passwordErrata==true">
        Wrong Password!
      </div>

      <input type="submit" (click)="submitButton()" class="fadeIn fourth" value="Login"/>

    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#" [routerLink]="['/registration']">
        first time on NetFish?
      </a><br />
      <button class="btn btn-success mt-2" [routerLink]="['/registration']">
        Sign Up
      </button>

    </div>
  </div>
</div>
