.testa{
  background-color: rgba(109, 95, 95, 0.363);
  font-family: "DK Lemon Yellow Sun";
  font-size: 20px;
  width: 670px;
  border-radius: 5px;
}

.table {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  border-radius: 5px;

}
.bold {
  font-weight: 400;
  opacity: 0.8;
}

.my-container {
  margin-top: 5%;
  background-color: #f8f9fa;
  border: 4px solid green;
}

td {
  padding: 10px;
}
h1 {
  margin-top: 2%;
  font-family: "DK Lemon Yellow Sun";
  font-weight: 600;
  margin-left: 35%;
  margin-bottom: 5%;
}

.list-container {
  opacity: 0.9;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.p-r-c{
  width: 220px;

}

.far {
  padding-bottom: 2px;
  opacity: 0.8;
}

.far:hover {
opacity: 1;
transition: .2s;
}

.cursor {
  cursor: pointer;
}

.fas {
  opacity: 0.8;
}

.fas:hover {
  opacity: 1;
  transition: .2s;
}

.rigaScura:hover{
  transition: .2s;
  background-color: #f0f0f0b0;
}

@media (max-width: 900px) {
.media-resizer {
  display: flex;
  flex-direction: column;
}

.fa-trash-alt {
  padding-left: 20px;
  transition: .3s;
}

h1 {
  margin-right: 5%;
}
}
