<div class="container-commenti p-5" >

    <table class="table">
      <thead class="testa">
        <tr>
          <th class="p-r-c"scope="col">Movie</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of movieComments" (click)="goToDetails(entry.movieId)">
          <td class="bold">{{entry.title}}</td>
          <td>{{entry.comment}}</td>

          <td><button class="btn" [routerLink]="['/editComment/'+ entry.id]">
            <span class="fas fa-edit ml-4"></span>
          </button></td>
          <td><button type="button" class="btn" (click)="deleteCommentButton(entry.id)" (click)="reloadPage()">
            <span class="far fa-trash-alt"></span>
          </button><td>
        </tr>
      </tbody>
    </table>
  </div>

 <app-loading-page *ngIf="!comments" ></app-loading-page>


 <!-- <button style="font-size: 30px" type="submit" class="btn btn-default " (click)="exit()">
          <span class="fas fa-plus" aria-hidden="true"></span>
        </button>-->
