<!-- TITOLI  DASHBOARD -->
<body>
  <div class="weather">
    <app-weather></app-weather> <!-- widget weather sulla sinistra in alto -->
  </div>
<div></div>

<!-- visualizzazione film attraverso ciclo for e relativi titolo e global rating -->
  <div class="container">
    <h1 class="text-center mb-5">MOVIE SUGGESTIONS IN A {{ todaysWeather}} DAY</h1>
    <table class="table"  *ngIf="results != null">
      <tbody>
        <tr class="pointer" *ngFor="let entry of results | slice:0:20;" (click)="goToDetails(entry.id)">
          <div><img src = {{basicImageUrl}}{{entry.poster_path}} class="hover-shadow imgClass"></div> <!-- Ciclo dei film con le immagini -->
          <div class="info-cntr">
          <p id="p">{{ entry.title }} </p> <!-- titoli -->
          <p id="b">{{ entry.vote_average }}</p> <!-- voto globale -->
        </div>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
  <app-loading-page *ngIf="!results"></app-loading-page>

