<!-- TITOLI  DASHBOARD -->
<body>
  <div class="weather">
    <app-weather></app-weather>
  </div>
<div></div>
  <div class="container">



    <h1 class="text-center mb-5">MOVIE SUGGESTIONS IN A {{ data.conditions }} DAY</h1>
    <table class="table"  *ngIf="results != null">
      <tbody>
        <tr class="pointer" *ngFor="let entry of results | slice:0:20;" (click)="goToDetails(entry.id)">
          <div><img src = {{basicImageUrl}}{{entry.poster_path}} class="hover-shadow imgClass"></div>
          <div class="info-cntr">
          <p id="p">{{ entry.title }} </p>
          <p id="b">{{ entry.vote_average }}</p>
        </div>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
  <app-loading-page *ngIf="!results"></app-loading-page>

