
<div class="container p-5">
  <h1 class="text-center mb-5">Movies e Meteo api dashboard</h1>
  <h3 class="text-center">Current Weather</h3>
  <!--PIPE WEATHER -->
  <button
    type="button"
    style="font-size: 30px"
    class="btn btn-default"
    aria-label="Left Align"
    [routerLink]="['/filterByGenre']"
  >
    <span class="fas fa-filter" aria-hidden="true"></span>
  </button>
  <!--------------------------------------->

  <table class="table" *ngIf="data != null">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Conditions</th>
        <th scope="col">Sunset</th>
        <th scope="col">Sunrise</th>
        <th scope="col">Windspeed</th>
        <th scope="col">Temp</th>
        <th scope="col">Datetime</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer">
        <td>{{data.conditions}}</td>
        <td>{{data.sunset}}</td>
        <td>{{data.sunrise}}</td>
        <td>{{data.windspeed}}</td>
        <td>{{data.temp}}</td>
        <td>{{data.datetime}}</td>
      </tr>
    </tbody>
  </table>

  <!--
  <h3 class="text-center">Forecast</h3>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Conditions</th>
        <th scope="col">Sunset</th>
        <th scope="col">Sunrise</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of weatherArray ; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ entry.conditions }}</td>
        <td>{{ entry.sunset }}</td>
        <td>{{ entry.sunrise }}</td>
      </tr>
    </tbody>
  </table>
  -->
  <h3 class="text-center"> Suggest me movies</h3>

  <table class="table"  *ngIf="results != null">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Original language</th>
        <th scope="col">Popularity</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="pointer"
        *ngFor="let entry of results | slice:0:4;"
        (click)="goToDetails(entry.id)"
      >
        <td>{{ entry.title }}</td>
        <td>{{ entry.original_language }}</td>
        <td><img src = {{basicImageUrl}}{{entry.poster_path}}></td>
        <td>{{ entry.release_date }}</td>
      </tr>
    </tbody>
  </table>

</div>

<app-loading-page *ngIf="!results"></app-loading-page>
