body {
  background-color: #eee;
  padding-bottom: 5%;

}
.container {
  display: flex;

  margin-left: 5%;
}



.card {
  justify-content: space-around;
  padding: 20px;
  margin-top: 15%;
  margin-bottom: 6%;
  background-color: #f8f9fa;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*padding: 2rem !important;*/
}



.top-container {
  display: flex;
  align-items: center
}

.profile-image {
  border-radius: 50%;
  border: 2px solid #7d7e80;
}


.profile-image:hover {
  border-radius: 3px;
  transition: .2s;
  transform: scale(1.3);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.name {
  font-family:"DK Lemon Yellow Sun";
  font-size: 20px;
  font-weight: bold;
  color: #272727;
  position: relative;
  top: 8px
}


.mail {
  font-size: 12px;
  color: grey;
  position: relative;
  top: 2px
}

.middle-container {
  background-color: #eee;
  border-radius: 12px
}

.middle-container:hover {
  border-radius: 3px;
  transition: .2s;
  transform: scale(1.1);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dollar-div {
  background-color: #5957f9;
  padding: 12px;
  border-radius: 10px
}

.round-div {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.dollar {
  font-size: 16px !important;
  color: #5957f9 !important;
  font-weight: bold !important
}

.current-balance {
  font-size: 13px;
  color: #272727;
  font-weight: bold
}

.amount {
  color: #5957f9;
  font-size: 16px;
  font-weight: bold
}

.dollar-sign {
  font-size: 16px;
  color: #272727;
  font-weight: bold
}

.recent-border {
  border-left: 2px solid #5957f9;
  display: flex;
  align-items: center
}

.recent-border:hover {
  border-bottom: 1px solid #dee2e6 !important
}

.recent-orders {
  font-size: 16px;
  font-weight: 700;
  color: #5957f9;
  margin-left: 2px
}

.wishlist {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #272727
}

.wishlist-border:hover {
  cursor: pointer;
}

.fashion-studio {
  font-size: 16px;
  font-weight: 700;
  color: #272727
}

.fashion-studio-border:hover {
  border-bottom: 1px solid #dee2e6 !important
}

.btn {
  font-family: "DK Lemon Yellow Sun";
  background-color: #b1afaf;
  border: none;
  padding: 11px;
}

.btn:hover {
  border-radius: 3px;
  transition: .1s;
  transform: scale(1.0.4);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.wishlist-new a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.603);
}


.wishlist-new a:hover{
font-weight: 600;
transition: .2s;
}
