


    <div class="main-container">
      <div class="container-elements">
        <div class="row">
          <div class="col-sm">
    <div class="card">
        <div class="top-container"> <img src="https://i.imgur.com/G1pXs7D.jpg" class="img-fluid profile-image" width="70">
            <div class="ml-3">
                <h4 class="name">{{user.username}}</h4>
                <p class="mail">{{user.email}}</p>
                <p class="mail">{{user.name}} {{user.surname}}</p>

            </div>
        </div>
  <hr>
        <div class="wishlist-new pt-2"> <span class="wishlist"> <i class="fas fa-check mr-2 opacity"></i> <a href="#" [routerLink]="['/seenList']">Watched Movies</a></span> </div>

        <div class="wishlist-new pt-2"> <span class="wishlist"> <i class="far fa-eye mr-2 opacity"></i><a href="#" [routerLink]="['/mustSeeList']">Movies to see</a></span> </div>

        <!--<div class="wishlist-new pt-2" (click)="goToUserComments()"> <a class="wishlist">My Comments</a> </div>-->

        <div class="wishlist-new pt-2" (click)="goToUsersManagement()" *ngIf="isAdmin==true"> <i class="fas fa-user-cog mr-2 opacity"></i> <a class="wishlist">Go to Users Management </a> </div>
        <div class="wishlist-new pt-2" (click)="goToCommentsManagement()" *ngIf="isAdmin==true"> <i class="fas fa-user-cog mr-2 opacity"></i> <a class="wishlist opacity">Comment Moderation </a> </div>
        <button type="button" class="btn mr-2" (click)="goToDelete()" *ngIf="isAdmin==false">Delete your Account</button>
<div class="alert-cntnr">
        <div class="alert alert-danger mt-1" role="alert" *ngIf="deleteAccountYes==true">
          Attention! Your account will be permanently deleted. <br>Do you want to continue?
          <br>
          <div class="btn-cntr">
          <button type="button" class="btn-outline-danger mr-3"(click)="deleteUserById()" [routerLink]="['/logout']">YES</button>
          <button type="button" class="btn-outline-primary"(click)="reloadPage()">NO</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm comments-container">
    <app-comments-by-user></app-comments-by-user>
  </div>
</div>
</div>
  </div>

