


    <div class="main-container">
      <div class="container-elements">
        <div class="row">
          <div class="col-sm">
    <div class="card">
        <div class="top-container"> <img src="https://i.imgur.com/G1pXs7D.jpg" class="img-fluid profile-image" width="70">
            <div class="ml-3">
                <h4 class="name">{{user.username}}</h4>
                <p class="mail">{{user.email}}</p>
                <p class="mail">{{user.name}} {{user.surname}}</p>

            </div>
        </div>
  <hr>
        <!--
        <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">

          <div class="dollar-div px-3">
                <div class="round-div"><i class="fa fa-dollar dollar"></i></div>
            </div>

            <div class="d-flex flex-column text-right mr-1">
              <span class="current-balance">User Id: {{user.id}}
              </span>
              <span class="amount">
                <span class="dollar-sign">
                  <span class="current-balance">Password:</span>
                </span>
               {{user.password}}
              </span>
            </div>

        </div>
      -->

        <div class="wishlist-new pt-2"> <span class="wishlist"> <i class="far fa-eye mr-2 opacity"></i> <a href="#" [routerLink]="['/seenList']">Watched Movies</a></span> </div>

        <div class="wishlist-new pt-2"> <span class="wishlist"> <i class="fas fa-check mr-2 opacity"></i><a href="#" [routerLink]="['/mustSeeList']">Movies to see</a></span> </div>

        <!--<div class="wishlist-new pt-2" (click)="goToUserComments()"> <a class="wishlist">My Comments</a> </div>-->

        <div class="wishlist-new pt-2" (click)="goToUsersManagement()" *ngIf="isAdmin==true"> <i class="fas fa-user-cog mr-2"></i> <a class="wishlist">Go to Users Management </a> </div>

        <button class="btn btn-dark mt-4"[routerLink]="['/moviesApi']">Back to Movies</button>

        <button type="button" class="btn mr-2" (click)="deleteUserById()" [routerLink]="['/logout']">Delete your Account</button>
    </div>
  </div>
  <div class="col-sm comments-container">
    <app-comments-by-user></app-comments-by-user>
  </div>
</div>
</div>
  </div>


  <!--
  <div class="container p-5">
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>

  </div>
  -->

