<p>movie-ratings works!</p>
<div class="form-group row">
  <label for="evaluation" class="col-sm-2 col-form-label">Movie Rating</label>
  <div class="col-sm-10">
    <input
      type="number"
      class="form-control"
      id="evaluation"
      required
      number
      [(ngModel)]="dataEntry.evaluation"
      name="movie.entry"
    />
  </div>
</div>
<p>movie ID: {{ movie_id }}</p>
<p>User ID: {{ user_id }}</p>

<button type="submit" [disabled]="!form.valid" class="btn btn-success">
  Submit
</button>
