.editor-cntr{
  width: 800px;
  align-items: center;
  margin: 7% 20% 20% 30%;
}

.text-center {
  padding-top: 5%;
  font-family: "DK Lemon Yellow Sun";
  font-size: 35px;
}
.row-middle {

  margin-top: 10%;
  border-radius: 10px;
  padding-bottom: 200px;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .row {
    background-color: rgba(131, 128, 128, 0.22);
  }


textarea {
  margin-left: 13%;
  max-width: 600px;
  height: 100px;
  background-color: rgba(131, 128, 128, 0.22);
  border-radius: 3px;
}

.btn {
  margin-top: 1%;
  margin-left: 13%;
  background: #b1afaf;
  border: none;
  font-family: "DK Lemon Yellow Sun";
  color: white;
  letter-spacing: 1px;
  padding: 8px 30px;
}

.btn:hover {
  border-radius: 3px;
  transition: .1s;
  transform: scale(1.1);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.style-text-area {
  background-color: rgba(109, 95, 95, 0.24);
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 100;

}

@media (max-width: 900px) {

.editor-cntr{
  width: 800px;
  align-items: center;
  margin: 25% 20% 20% 30%;
  transition: .3s;
}
.btn {
  margin-top: 2%;
  margin-left: 10%;
  transition: .3s;
}

textarea {
  margin-left: 10%;
  max-width: 250px;
  height: 100px;
  background-color: rgba(131, 128, 128, 0.22);
  border-radius: 3px;
}


.row-middle {
  margin-left: -16%;
  width: 300px;
  margin-top: 10%;
  border-radius: 10px;
  padding-bottom: 200px;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

}
