<header>
  <div class="bg-dark">
    <div class="container">
      <div id ="logo">
        TheNet
        <i class="fas fa-fish"></i>
      </div>
      <div>
        <ul id="menuDX" class="nav col-lg-auto my-2 my-md-0 justify-content-end">

          <li>
            <a [routerLink]='["/welcome"]' class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              Home
            </a>
          </li>
          <li>
            <a [routerLink]='["/moviesApi"]' class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              Movies
            </a>
          </li>
        <li>
          <a href="#" class="nav-link" [routerLink]="['/search-movie']">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
            Search
          </a>
        </li>
          <li>
            <a *ngIf="loginService.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['/my-account']">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              My Account
            </a>
          </li>
          <li>
            <a *ngIf="!loginService.isUserLoggedIn()" [routerLink]="['/login']" class="nav-link">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
              <i class="openButton fas fa-user fa-1.5x bi d-block mx-auto mb-1" width="24" height="24"></i>
            </a>
            </li>
            <li>
              <a *ngIf="loginService.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['/logout']">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"></svg>
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</header>
