<div class="container">
  <p class="position">Rate your movie</p>

  <ngb-rating class="position st-star" [max]="5" [(rate)]="starRating">{{
    currentRate
  }}</ngb-rating>

  <!--Assegnare alla variabile star rating il rating da 1 a 5 dell utente-->
  <hr />
  <hr />
</div>
<!--
<h2>Custom rating Display</h2>

<ng-template #heart let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
</ng-template>

<ngb-rating
  [(rate)]="currentRate"
  [starTemplate]="heart"
  [readonly]="true"
  [max]="5"
></ngb-rating>

<hr />
<pre>Rate: <b>{{currentRate}}</b></pre>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 2.5">
  2.5
</button>
<button
  class="btn btn-sm btn-outline-primary mr-2"
  (click)="currentRate = 1.53"
>
  1.53
</button>
<button
  class="btn btn-sm btn-outline-primary mr-2"
  (click)="currentRate = 4.25"
>
  4.25
</button>
<button
  class="btn btn-sm btn-outline-primary mr-2"
  (click)="currentRate = 2.75"
>
  2.75
</button>
-->
