.testa{
  height: 40px;
  border-radius: 5px;
  background-color: rgba(109, 95, 95, 0.363);
  border-radius: 5px;
  font-family: "DK Lemon Yellow Sun";
  font-size: 25px;

}

.table {

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  border-radius: 5px;
}
.bold {
  font-weight: 400;
}

.p-5{
  margin-bottom: 20%;
}

.my-container {
  margin-top: 5%;
}

h1 {
  margin-top: 10%;
  font-family: "DK Lemon Yellow Sun";
  font-weight: 600;
}



.list-container {
  background-color: rgba(109, 95, 95, 0.116);
  opacity: 0.9;
  border-radius: 5px;
}


