<!-- Contiene card con view dati relativi a weather api -->

<div class="card p-4">
    <div class="d-flex">
              <h6 class="flex-grow-1">{{results.date}}</h6>
              <h6>{{results.timezone}}</h6>
    </div>
        <div class="d-flex flex-column temp mt-3 mb-2">
              <h3 class="mb-0 font-weight-bold" id="heading"> {{celsius}}°C </h3>
              <span class="small grey">{{dataConditions.conditions}}</span>
              <!-- ngIf per display icona relativa a condizioni meteo var conditions -->
              <!-- Se il cielo é coperto -->
              <div *ngIf="dataConditions.conditions=='Overcast'">
                <i class="fas fa-cloud fa-2x"></i>
              </div>
              <!-- Se parzialmente nuvoloso -->
              <div *ngIf="dataConditions.conditions=='Partially cloudy'">
                <i class="fas fa-cloud-sun fa-2x"></i>
              </div>
              <!-- Se parzialmente piove -->
              <div *ngIf="dataConditions.conditions=='Rain'">
                <i class="fas fa-cloud-rain fa-2x"></i>
              </div>
              <!-- Se sereno -->
              <div *ngIf="dataConditions.conditions=='Clear'">
                <i class="fas fa-sun fa-2x"></i>
              </div>
              <!-- Se diluvia -->
              <div *ngIf="dataConditions.conditions=='Thunderstorm'">
                <i class="fas fa-poo-storm fa-2x"></i>
              </div>
              <!-- Se c é temporale -->
              <div *ngIf="dataConditions.conditions=='Heavy Rain'">
                <i class="fas fa-cloud-showers-heavy fa-2x"></i>
              </div>
              <!-- Se nevica -->
              <div *ngIf="dataConditions.conditions=='Snow'">
                <i class="fas fa-snowflake fa-2x"></i>
              </div>

        </div>

              <!-- visualizza ulteriori dati restanti weather widget -->
    <div class="d-flex">
        <div class="temp-details flex-grow-1">
              <p class="my-1"> <i class="fas fa-wind mr-1"></i>
                    <span> {{dataConditions.windspeed}} kmh </span> </p>
              <p class="my-1"> <i class="fas fa-tint mr-2"></i>
                    <span> {{dataConditions.humidity}}% </span> </p>
              <p class="my-1"> <i class="fas fa-sun mr-2"></i>
                    <span>{{dataConditions.sunrise}} </span> </p>
              <p class="my-1"> <i class="fas fa-moon mr-1"></i>
                   <span> {{dataConditions.sunset}} </span> </p>
        </div>
    </div>
</div>

