
<div class="container p-5">
  <h1 class="text-center mb-5">The Net Fish</h1>

  <div class="text-right">
    <button
      type="button"
      style="font-size: 30px"
      class="btn btn-default"
      aria-label="Left Align"
      [routerLink]="['/add']"
    >
      <span class="fas fa-plus" aria-hidden="true"></span>
    </button>

    <button
      type="button"
      style="font-size: 30px"
      class="btn btn-default"
      aria-label="Left Align"
      [routerLink]="['/filterByGenre']"
    >
      <span class="fas fa-filter" aria-hidden="true"></span>
    </button>

    <button
      type="button"
      style="font-size: 30px"
      class="btn btn-default"
      aria-label="Left Align"
      [routerLink]="['/doublefilter']"
    >
      <span class="fas fa-poll-h" aria-hidden="true"></span>
    </button>

    <button
      type="button"
      style="font-size: 30px"
      class="btn btn-default"
      aria-label="Left Align"
      [routerLink]="['/sortBy']"
    >
      <span class="fas fa-sort-numeric-up" aria-hidden="true"></span>
    </button>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Conditions</th>
        <th scope="col">Sunset</th>
        <th scope="col">Sunrise</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of weatherArray; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ entry.conditions }}</td>
        <td>{{ entry.sunset }}</td>
        <td>{{ entry.sunrise }}</td>
      </tr>
    </tbody>
  </table>
</div>
