
 <div class="container p-5">
  <section class="vh-100 bg-image mt-5">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-3">Create an account</h3>

                  <img src="\assets\img\createAccountIcon.png" alt="Crete an Account" class="center">

                <form class="pt-5" (ngSubmit)="createUser(form)" #form="ngForm">
                  <div class="form-group">
                    <label for="username">First Name</label>
                    <input type="text" method="POST" required ngModel class="form-control form-control-lg" name="name" id="name" placeholder="First Name">

                  </div>
                  <div class="form-group">
                    <label for="username">Last Name</label>
                    <input type="text" method="POST" required ngModel class="form-control form-control-lg" name="surname" id="surname" placeholder="Surname">
                  </div>

                  <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" method="POST" required ngModel class="form-control form-control-lg" name="email" id="email" placeholder="Email">

                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" method="POST" required ngModel class="form-control form-control-lg" name="username" id="username" placeholder="Username">

                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" method="POST" required ngModel class="form-control form-control-lg" name="password" id="password" placeholder="Password">
                  </div>

                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" method="POST" required ngModel class="form-control form-control-lg" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">

                   <div class="inputError ml-2"> <p *ngIf="invalidPassword" >Entered Password is not matching! Try Again</p></div>

                    <span id='message'></span>
                  </div>

                  <div class="col-12 mb-3">
                    <div class="form-check">
                      <input type="checkbox" name="terms" id="terms" required >

                        <a href="#" class="text-reset ml-2" [routerLink]="['/terms-and-conditions']"> I Agree Terms & Coditions</a>

                    </div>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit" name="submit" id="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled]="!form.valid">Register</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body" [routerLink]="['/login']"><u>Login here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
