.container  {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-family: "DK Lemon Yellow Sun";
    font-weight: bold;
  }
  
  .fishball {
    content: url("../../../assets/img/welcomeFishball.gif");
    width: 50%;
    height: 50%;
    z-index: 2;
    margin-top: -20px;
  }
  
  h1 {
    font-size: 65px;
    z-index: 1;
  }
  
  p {
    margin-top: 7%;
    font-size: 20px;
  }
  
  a{
    color: black;
  }