

.container  {
    padding-top: 100px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    font-family: "DK Lemon Yellow Sun";
    font-weight: bold;
    margin-bottom: 10%;
  }

  .fishball {
    content: url("../../../assets/img/welcomeFishball.gif");
    width: 50%;
    height: 50%;
    z-index: 2;
    margin-top: 10px;

  }

  h1 {
    font-size: 65px;
    z-index: 1;
  }

  p {
    margin-top: 7%;
    font-size: 20px;
  }

  a{
    color: black;
  }

  @media (max-width: 900px) {
    p {
      margin-top: 15%;
    }
  }
