<body>
  <div class="container">

    <form #form="ngForm">
      <h1 class="mt-7"></h1>
      <div class="form-group">

        <label for="username">SEARCH YOUR FAVORITE MOVIE</label>
        <div class="box-input">
        <input type="text" method="GET" required ngModel class="form-control mt-5" name="title" id="title" placeholder="Title">

        <button type="submit" class="btn btn-primary  mt-5" (click)="getMovieListOnComponent(form)">GO!</button>

      </div>

    </div>
    <div class="inputError"> <p *ngIf="alertNoMovie">Movie not found !</p></div>
    </form>

      <table class="table"  *ngIf="results != null">

        <tbody>
          <tr class="pointer" *ngFor="let entry of results | slice:0:20;" (click)="goToDetails(entry.id)">

            <div>
              <img src = {{basicImageUrl}}{{entry.poster_path}} class="hover-shadow imgClass">
            </div>

            <p>{{ entry.title }}</p>
          </tr>
        </tbody>
      </table>

  </div>

</body>



