label {
  margin-top: 10%;
  font-family: "DK Lemon Yellow Sun";
  font-size: 30px;
  margin-bottom: 1%;
}

p {
  margin-top: 10px;;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  text-align: justify;
  width: 200px;
  font-size: 16px;
  font-family:  "DK Lemon Yellow Sun";
}

h1 {
  margin-top: 170px;
}

.imgClass {
  border-radius: 3px;
}

.imgClass:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hover-shadow:hover {
  transform: scale(1.1);
  transition: .2s;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 25%;
}

.form-control {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  padding-left: 10px;
}

.box-input {
  width: 500px;
  display:flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

body {
  background-color: #f8f9fa;
}

.form-control{
  padding-right: 20px;
}

.btn {
  background-color:#b1afaf;
  padding: 3px 30px;
  border: none;
  font-family: "DK Lemon Yellow Sun";
  margin-left: 5%;
}


.btn:hover {
  background-color:#8a8888;
  border-radius: 3px;
  transition: .1s;
  transform: scale(1.1);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.inputError{
  color: rgb(218, 161, 56);
  margin:0;
;
}


@media (max-width: 900px) {
  label {
    margin-left: 22%;
  }

  input {
    max-width:300px;
    margin-left:10%;
  }
  .btn {
    margin-right: 10%;
  }
}
