<div class="container p-5">
  <h1 class="text-center mb-5">
    The Net Fish
  </h1>
  <form class="pt-5" #form="ngForm">
    <div class="form-group row">
      <label for="genere" class="col-sm-2 col-form-label">Sort by</label>

        <div class="col-sm-10">
          <select class="form-control" id="sortOption" required ngModel required name="sortOption">
            <option *ngFor="let sortOption of sortOptions">
              {{sortOption}}
            </option>
          </select>
        </div>
    </div>
  </form>

  <div class="text-right">
    <button class="btn btn-primary mb-3 mb-3 float-left"[routerLink]="['/dashboard']">Back</button>
<button class="btn btn-primary mb-3 mb-3 float-right " (click)=" sortBy(form)">Ordina</button>

<button type="button"  style="font-size: 30px" class="btn btn-default" aria-label="Right Align" [routerLink]='["/add"]'>
  <span class="fas fa-plus mb-3 float-right" aria-hidden="true"></span>
</button>
</div>
  <table class="table" *ngIf="showResult">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Director</th>
        <th scope="col">Release Date</th>
        <th scope="col">Reviews</th>
        <th scope="col">Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let entry of orderedItems, let i = index">
        <th scope="row"> {{i + 1}}</th>
        <td>{{entry.name}}</td>
        <td>{{entry.director}}</td>
        <td>{{entry.releaseDate | date}}</td>
        <td>{{entry.reviews}}</td>
        <td>{{entry.evaluation}}</td>
      </tr>
    </tbody>
  </table>
</div>




