<div class="container p-5" *ngIf="usernameIsAdmin=='admin'">
    <h3 class="text-center mt-5 mb-2">
      Comments Management
    </h3>
    <table class="table table-striped table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Comment id</th>
          <th scope="col">User id</th>
          <th scope="col">Movie id</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr class="pointer" *ngFor="let entry of comments">
          <!-- trovare modo per trasformare gli id in titoli di film e nomi utenti,
          collegamento tra chiavi database?
          oppure scaricare tutti i database e trasformare i dati in component.ts? -->
          <td>{{entry.id}}</td>
          <td>{{entry.userId}}</td>
          <td>{{entry.movieId}}</td>
          <td>{{entry.body}}</td>
          <td><button type="button" class="btn" (click)="deleteCommentButton(entry.id)" (click)="reloadPage()">
            <span class="far fa-trash-alt" style="color:rgb(192, 192, 192)"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
   <!--
    <button class="btn btn-primary ml-3" (click)="goToUserComments()">My Comments</button>
    -->
  </div>
 <app-loading-page *ngIf="!comments" ></app-loading-page>
